/* PC、スマホ共通スタイル*/
body {
  font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
  max-width: 1080px;
  min-width: 960px;
  margin: 0 auto 0 auto;
}

/*ヘッダー*/
header {
  display: flex;
  justify-content: space-between;
}

/*本文*/
p {
  font-size: 15px;
}

/*見出し*/
h2 {
  margin: 40px 0 0 0;
}
h2::after {
  content: url("images/line.png");
  margin-left: 10px;
}

/*小見出し*/
h3 {
  font-size: 27px;
}



/*ナビゲーションのレイアウト*/
#nav-pc {
  font-size: 14px;
  padding-top: 15px;
}
#nav-pc > a {
  text-decoration: none;
  margin-left: 20px;
}
#nav-pc > a:link {
  color: #0d0d0d;
}
#nav-pc > a:visited{
  color: #0d0d0d;
}
#nav-pc > a:hover {
  color: #0d0d0d;
  text-decoration: underline;
} 
#nav-pc > a:active {
  color: #0d0d0d;
}



/*メインビジュアルのレイアウト*/
#main-visual {
  position: relative;
  height: 400px;
}

#main-message {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2710d5;
  color: #ffffff;
  border-radius: 0px 0px 476px 0px;
  width: 100%;
  height: 100%;
  max-width: 620px;
  z-index: 11;
}

#main-message > h1 {
  font-size: 60px;
  font-weight: bold;
  margin: 100px 0 0 50px;
}

#main-message > p {
  font-size: 28px;
  margin: 0 0 0 50px;
}

#main-visual > img {
  max-width: 620px;
  border-radius: 476px 0 0 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}



/*ミッションタグの装飾*/
#mission {
  margin: 80px auto;
  width: 100%;
}

#mission-flex {
  display: flex;
  width: 100%;
}

#mission-flex > div {
  width: 50%;
  margin: 20px;
}

#mission-photo {
  width: 100%;
}

#s2dgs {
  margin-top: 50px;
  width: 100%;
}



/*プロダクトタグの装飾*/
#product {
  background-color: #fafafa;
  margin: 80px auto;
  padding: 10px 40px 0px 40px;
}

#product > div {
  margin-top: 40px;
  display: flex;
}

#product-left {
  width:50%;
  margin-right: 20px;
}

#product-right {
  width: 50%;
  margin-left: 20px;
  margin-top: 80px;
}

#product-left > div {
  position: relative;
  height: 480px;
  margin-right: 20px;
}

#product-right > div {
  position: relative;
  height: 480px;
  margin-left: 20px;
}

/*画像*/
.product-photo {
  width: 100%;
}

/*説明文の枠*/
.product-explain {
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 280px;
  margin: 0 40px;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
}

/*説明文の英語*/
.product-explain > span {
  color: #2710d5;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

/*説明文の見出し*/
.product-explain > h3 {
  font-size: 20px;
  margin: 5px 0px;
}

/*説明文*/
.product-explain > p {
  font-size: 14px;
  margin: 0;
}

/*詳細ボタン*/
#product-more {
  margin: 0 auto -42px auto;
}



/*ABOUT USタグ*/
/*セクション要素*/
#aboutus {
  margin: 80px auto;
}

#aboutus > div {
  display: flex;
}

/*画像要素*/
.culture-img {
  width: 100%;
  align-self: flex-start;
}

.culture-img2 {
  margin-top: 50px;
  width: 100%;
}

/*表の装飾*/
.culture-table {
  margin-right: 50px;
}

.culture-num {
  font-size: 80px;
  color: #2710d5;
  margin-right: 20px;
}

.culture-en {
  color: #2710d5;
  font-weight: bold;
  font-size: 24px;
  display: block;
}

.culture-jp {
  font-size: 28px;
  font-weight: bold;
}

.culture-description {
  margin: 0;
}



/*VISIONタグ*/
/*セクション全体*/
#vision {
  margin: 80px auto;
}

/*画像全体*/
#vision > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*各コマ*/
.vision-box {
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
  position: relative;
}

.vsion-box > img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
}

.vision-box > span {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 31;
  margin: 20px;
}

.vision-box > span > h4 {
  color: #2710d5;
  font-size: 19px;
  margin-top: 80px;
}

.vision-box > span >h4::first-letter {
  font-size: 40px;
}

.vision-box > span > h5 {
  font-size: 20px;
  margin: 0;
}

.vision-box > span > p {
  margin-top: 10px;
}



/*CASESタグ*/
#cases {
  margin: 40px auto;
  width: 100%;
}

#case-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.case-box {
  width: 33%;
  margin: 20px;
  background-color: #ffffff;
  min-height: 400px;
  box-shadow: 5px 5px 15px #000000;
}

.case-image {
  width: 100%;
}

.case-explain {
  padding: 10px 20px;
}

.case-explain > h4 {
  color: #2710d5;
  font-size: 19px;
}

.case-explain > p {
  font-size: 14px;
}

/*COMPANYタグ*/
#company {
  margin: 80px auto;
}

#company-table {
  width: 100%;
}

.tableheader {
  text-align: left;
  padding: 20px;
  border-bottom: solid 1px #2710d5;
  width: 100px;
}

.tableheader-first {
  text-align: left;
  padding: 20px;
  border-bottom: solid 1px #2710d5;
  border-top: solid 1px #2710d5;
}

.cell {
  padding: 30px;
  border-bottom: solid 1px #ececec;
}

.cell-first {
  padding: 30px;
  border-bottom: solid 1px #ececec;
  border-top: solid 1px #ececec;
}

#company >iframe {
  width: 100%;
  height: 368px;
  margin-top: 40px;
}



/*CONTACTタグ*/

#contact {
  margin: 80px auto;
}

#contact > form > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

/*問い合わせ項目*/
.contact-heading {
  width: 240px;
  align-self: center;
}

.contact-label {
  font-weight: bold;
}

.contact-span {
  color: #ce2222;
  margin-left: 20px;
  font-weight: bold; 
}

/*入力部分*/
.contact-textbox {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: solid 1px #707070;
  background-color: #fafafa;
  width: 400px;
  height: 56px;
}

.contact-textarea {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: solid 1px #707070;
  background-color: #fafafa;
  width: 400px;
  height: 200px;
}

/*個人情報部分*/
details {
  width: 700px;
}

details > div {
  background-color: #fafafa;
  padding: 20px;
}

details > div > span {
  font-weight: bold;
}



/*footer*/

footer {
  background-color: #0d0d0d;
  text-align: center;
  padding: 80px 80px 30px 80px;
}

#footer-logo {
  margin: 30px;
}

#footer-link {
  margin: 50px;
}

#footer-link > a {
  text-decoration: none;
  margin: 10px;
}

#footer-link > a:link {
  color: #ffffff;
}

#footer-link > a:visited {
  color: #ffffff;
}

#footer-link > a:hover {
  color: #ffffff;
  text-decoration: underline;
}

#footer-link > a:active {
  color: #ffffff;
}

#sns-footer {
  text-align: left;
  width: 100%;
}

#sns-footer > a {
  margin: 30px;
}

#copyright {
  color: #ffffff;
  float: right;
}